*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman',Georgia, Garamond;
    font-size: 22px;
}

#cabecalho{
    height: 90px;
    background-color: rgb(104, 228, 121);
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#menu{
    height: 500px;
    width: 300px;
    background-color: rgb(104, 228, 121);
    float: left;
    margin-left: 37px;
    margin-top: 10px;
}

#conteudo{
    height: 500px;
    width: 800px;
    background-color: rgb(104, 228, 121);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
   
}

#lado{
    height: 500px;
    width: 290px;
    background-color: rgb(104, 228, 121);
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
   
}

#meio2{
    height: 3050px;
    /*width: 300px;*/
    background-color:rgb(104, 228, 121);
    clear: both;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    
}

#button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: rgb(0, 167, 17);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

h5{
    text-align: left;
}

h6{
    text-align: center;
}

#rodape{
    height: 80px;
    /*width: 300px;*/
    background-color:rgb(54, 186, 91);
    clear: both;
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    
    
}